@media only screen and (max-width : 1314px) {
  .cat-teasers-col {
    width: 50%;
  }
  .cols {
    padding-left: 0;
  }
  .col-l {
    margin-left: 0;
  }
  .col-l {
    margin-right: 34px;
  }
  .teasers-actions-col-3 {

  }
  .teasers-actions-select {
    width: 100px;
  }
  .pop-cat-cahrs-row {  
    flex-wrap: wrap;
  }
  .pop-cat-cahrs-r {
    margin-left: 0;
    margin-top: 13px;
  }
}

@media only screen and (max-width : 1040px) {
  .top-r-txt {
    display: none;
  }
}



@media only screen and (max-width : 1199px) {
  .contain {
    max-width: 970px
  }    
  .pop-cat-w {
    max-width: 700px;
  }
  .join:before,
  .join:after {
    left: -520px;
    top: 0;
  }
  .join:before {
    background-position: right -320px top;
  }
  .foot-col-2-ul {
    li {
     margin-bottom: 5px;   
   }
   a {
    font-size: 17px;
  }
} 
.vidblock-vid {
  width: 450px;
  height: 255px;
}
.vidblock-tit {
  font-size: 29px;
}
.vidblock-ul li {
  font-size: 21px;
  margin-bottom: 7px;
}
.card-pr-col-1 {
  margin-right: 22px;
}
.card-inf-dw-l-btn,
.card-inf-dw-r-btn-2 {
  font-size: 13px;
}
.cardtabs {
  .tabs-control {
    margin-bottom: 15px;
    li.tabs_control_item {
      width: 33.333%;
      a {
        width: 100%;
        text-align: center;        
        justify-content: center;
      }
      &.active {
        a {
          border-bottom: 1px solid #fff;
          &:after {
            display: none;
          }
        }
      }
    }
  }

}
.pop-cat-gal-it {
  width: 80px;
  height: 80px;
}
.pop-cat-cahrs-l {
  width: 100%;
}
.vidblock-ul li {
  white-space: nowrap;
  font-size: 18px;
}
.service-row {
  padding: 0 15px;
}
}


/* Medium Devices, Desktops */

@media only screen and (max-width : 991px) {
  .contain {
    max-width: 750px 
  }  
  .slick-prev {
    left: 20px;
  }
  .slick-next {
    right: 20px;
  }  
  .pop-cat-w {
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      right: 20px;
    }    
  }
  .brand-it {
    img {
      max-width: 80%;
      height: auto;
    }
  }
  .serv-it {
    padding: 20px;
  }
  .serv-it-1-a {
    height: 70px;
    font-size: 17px;
  }
  .serv-it-2-a {
    font-size: 17px;
  }
  .foot-col-1 {
    width: 100%;
  }
  .foot-col-2-phone-a {
    width: 200px;
    margin-bottom: -300px;
    img {
      max-width: 100%;
    }
  }
  .foot-w {    
    flex-wrap: wrap;
  }
  .foot-col-2 {
    width: 100%;
    padding-left: 15px;        
    flex-direction: row;            
    align-items: flex-start;            
    justify-content: space-between;
  }
  .foot-pay {
    margin-bottom: 30px;
  }
  .foot-col-2-menu-w {
    width: 100%;   
    max-width: 470px; 
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .foot-col-1-txt-2 {
    margin-bottom: 23px;
  }
  .foot-cont {
    max-width: 100%;
    display: flex;    
    flex-wrap: wrap;            
    justify-content: space-between;
    margin-top: 45px;
  }
  .foot-cont-item {
   width: calc(50% - 10px);  
 }
 .foot-logo {
  margin-bottom: 15px;
}
.foot-cont-soc-w {
  width: 100%;    

}
.foot-pay-txt {

}
.foot-pay {

}
.foot-pay-row {    

}
.col-l {
  display: none;
}
.cat-teasers-col {
  width: 33.333%;
}
.hide-991 {
  display: none;
}
.show-991 {
  display: flex;
}
.teasers-actions-select {
  width: 210px;
  height: 34px;
}
.cat-teasers-actions {
  padding: 8px 0;
  align-items: center;
}
.cols {
  margin-top: 0;
}
.vidblock {
  padding-top: 53px;
  margin-top: 33px;
}

.description {
  margin-top: 53px;
}
.card-pr-gal-b {
  width: 362px;
  height: 362px;
}
.card-pr-gal-sl a {
  height: 67px;
}
.card-pr-gal-sl {
  width: 67px;
  margin-right: 8px;
}
.card-pr-col-2-dw {  
  flex-wrap: wrap;
}

.card-pr-col-2-dw-2 {
  > * {
    width: 100%;
  }
  margin-bottom: 15px;   
}
.card-pr-col-2-top {
  margin-bottom: 25px;
}
.card-inf-dw-l-btn, .card-inf-dw-r-btn-2 {
  width: 100%;
}


.card-inf-dw-l {
  width: 100%;
  margin-right: 0;
  margin-bottom: 15px;
}
.rep-maint-img-w {
  width: 252px;
  height: 252px;
  img {
    max-width: 100%;
  }
}
.rep-typ-txt-1 {
  font-size: 20px;
}
} 

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }



  .top-mnu {
    display: none;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 15;
    background-color: #000; 
    width: 100%;
    padding: 30px 15px 40px 15px;
    min-height: 100px;    
    li {
      margin: 0;
      padding-bottom: 18px;
      max-width: 250px;
      border-right: 1px solid rgba(#fff, 0.5);
    }
    a {
      font-size: 16px;
    }    
  }
  .hidden-mnu {    
    position: relative;
    z-index: 11;
    display: flex;    
    align-items: center;
  }
  .mnu-txt {
    color: #FFF;
    display: inline-block;
    margin-left: 10px;
  }
  .toggle-mnu {
    display: block;    
    right: 0;
    top: 0;
    text-align: center;
    line-height: 48px;
    display: block;
    width: 16px;
    height: 9px;
    margin: 0;  
    margin-top: 5px;  
  }
  .toggle-mnu:focus {
    outline: none;
  }
  .toggle-mnu span {
    position: relative;
    display: block;  
    transition: all 0.3s;    
    backface-visibility: hidden;
    width: 16px;
    height: 3px;   
    background: #fff;
    
  }
  .toggle-mnu span {
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
      width: 16px;
      height: 3px;   
      background: #fff;
      transition: all 0.3s;    
      backface-visibility: hidden;             
      border-radius: 1px;
    }
  }
  .toggle-mnu span:after {
    top: 5px;     
  }
  .toggle-mnu span:before {
    top: -5px;
  }

  .toggle-mnu {      
    span {

    }
  }

  .toggle-mnu.on span {
    background-color: transparent;
  }

  .toggle-mnu.on span:before    {
    transform: rotate(45deg) translate(5px, 5px);
    top: -6px;
  }
  .toggle-mnu.on span:after    {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 13px;
  }
  .toggle-mnu.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  .top-mnu {  
  }
  .mnu-close {
    position: absolute;
    left: 221px;
    top: 25px;
  }
  .cat-med {
    height: 120px;
    margin-bottom: 22px;
  }
  .cat-txt {
    font-size: 23px;
  }
  .pop-cat-w {
    max-width: 460px;
  }
  .pop-cat-w {
    .slick-next {
      right: -50px;
    }
    .slick-prev {
      left: -50px;
    }
  }
  .serv-it-2-txt {
    font-size: 16px;
  }
  .serv-it {
    padding: 15px;
  }
  .join:before, .join:after {
    left: -730px;
  }
  .foot-col-2-phone-a {
    margin-right: -15px;
  }
  .foot-col-2-h-menu {
    font-size: 20px;
  }
  .join {
    margin-bottom: 67px;
  }
  .cat-teasers-col {
    width: 50%;
  }
  .vidblock-row {    
    flex-wrap: wrap;
  }

  .vidblock-vid:before {
    display: none;
  }
  .vidblock-r {
    margin-top: 25px;
    padding-left: 0;
    margin-left: 0;
  }
  .card-pr-w {   
    flex-wrap: wrap; 
  }
  .card-pr-col-1 {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .cardtabs .tabs-control li.tabs_control_item {
    width: 50%;
  }
  .tabs-control {
    margin-left: 0;
    margin-top: 60px;
  }
  .cardtabs {
    margin-bottom: 0;
  }
  .vidblock-2 {
    padding-top: 15px;
    margin-bottom: 35px;
  }
  .tabs_content_item.video {
    height: 300px;
  }
  .card-pr-gal-b {
    width: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .card-pr-col-1,
  .card-pr-col-1-gal {
    width: 100%;
  }
  .rep-maint {    
            flex-wrap: wrap;
  }
  .rep-maint-inf-w {
    width: 100%;
    margin-top: 25px;
  }  
  
  .rep-typs {    
            justify-content: flex-start;
            margin: 0 -15px;
  }
  .rep-typ {
    width: calc(33.333% - 15px);
    margin: 0 7.5px 22px 7.5px;
  }
}      

@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }
  .cat {
    padding-top: 55px;
  }
  .brand {
    margin-top: -112px;
    padding-top: 105px;
  }
  .cat-it {
    height: 225px;
  }
  .cat-med {
    height: 80px;
  }
  .join-form-w {
    width: 100%;
  }
  .join-form-input-text {
    width: 100%;    
    flex-grow: 1;
  }
  .foot-col-2-phone-a {
    display: none;
  }
  .foot-logo {
    width: 200px;
    img {
      max-width: 100%;
    }
  }
  .foot-col-1-txt-2 {
    font-size: 15px;
  }
  .foot-cont-txt-2 {
    font-size: 16px;
  }
  .foot-cont-phone {
    font-size: 21px;
  }
  .serv-arr-up {
    width: 50px;
    height: 50px;
    background-size: 30%;
  }
  .pagin-nav {
    display: none;
  }
  .pagin ul li {    
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      display: none;
    }
  }
  .cat-teasers-row-row .pop-cat-inf-txt-w {
    margin-bottom: 15px;
  }
  .cat-teasers-row-row .pop-cat-img-w-2 {
    width: 166px;
  }
  .rep-p {
    font-size: 16px;
  }
  .rep-maint {
    margin-bottom: 33px;
  }
  .service-row {    
            flex-wrap: wrap;
  }
  .service-l,
  .service-r {
    width: 100%;
    padding-left: 0;  
    padding-right: 0;
    padding-top: 0;
  }
  .service-r {
    margin-top: 25px;
  }
  .service-it + .service-it {
    margin-top: 20px;
  }
  .service-row {
    margin-bottom: 55px;
  }
  .service-tit {
    margin-bottom: 25px;
  }
} 



@media only screen and (max-width : 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-c {
    display: none;
  }
  .top-l,
  .top-r {
    position: static;
  }
  .top-2-logo {
    width: 150px;    
    justify-content: center;        
    align-items: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .top-2-inn {
    margin-bottom: 0;
  }
  .top-2-w {
    padding-top: 0;
  }
  .carous-r {
    width: 100%;
    text-align: center;
  }
  .pop-cat-w {
    .slick-prev {
      left: 40px;
    }
    .slick-next {
      right: 40px;
    }
  }
  .serv-w {    
    flex-wrap: wrap;
  }
  .serv-it {
    width: 100%;
    height: 210px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .servs {
    padding-bottom: 45px;
  }
  .join:before, .join:after {
    left: 0;    
    background-size: cover;
    height: 380px;
  }
  .slick-arrow {
    width: 22px;
    background-size: 22px;
    top: calc(50% - 11px);
  }
  .filter-cat-w {
    width: 320px;
    padding: 15px 17px 10px 17px;
  }
  .vidblock-vid {
    width: 100%;    
  }
  .vidblock-tit {
    font-size: 25px;
    line-height: 1.2;
  }
  .catalog-search-ul {    
    flex-wrap: wrap;
    li {
      margin-bottom: 10px;             
      &:last-child {
        margin-bottom: 10px !important;
      }
    }
  }
  .card-pr {
    margin-top: 15px;
  }
  .rep-typ {
    width: calc(50% - 15px);
    margin-bottom: 15px;
  }
  .rep-typ-img-w {
    height: 260px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}



@media only screen and (max-width : 480px) {
  .carous-it {
    height: 330px;
  }
  .carous-cont-w {
    top: 50%;
    transform: translate(0, -50%);
  }
  .cat-txt {
    font-size: 20px;
  }
  .pop {
    padding-top: 45px;
  }
  h2 {
    font-size: 29px;
  }
  .join-txt-2 {
    font-size: 38px;
  }
  .join-form-w {
    padding: 25px;
  }
  .join:before, .join:after {
    height: 350px;
  }
  .foot-cont-item {
    width: 100%;
  }
  .foot-cont-soc-w {
    margin-top: 15px;
  }
  .foot-cont {
    margin-bottom: 25px;
  }
  .foot-col-2-menu-w {  
    flex-wrap: wrap;
  }
  .foot-col-2 {
    padding: 0;
    margin-top: 5px;
  }
  .foot-col-2-menu {
    width: 100%;
    + .foot-col-2-menu {
      margin-left: 0;
      margin-top: 45px;
    }
  }
  .foot-col-2-menu-w {
    margin-bottom: 0;
  }
  .cat-teasers-col {
    width: 100%;
  }
  .vidblock {
   padding-top: 0; 
 }  
 .catalog-form {
  display: none;
}
.col-r {
  width: 100%;
}
.foot-2 {
  padding-bottom: 34px;
}
.card-pr-col-1-gal {   
  flex-direction: column; 
}
.card-pr-gal-b {
  order: -1;
  margin-bottom: 10px;
}
.card-pr-gal-sl {
  width: 100%;    
  display: flex;
  margin-right: 0;    
  a {      
    width: 20%;
    height: 59px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.card-th-3d:before {
  width: 30px;
  height: 31px;    
  background-size: cover;
}
.card-th-video:before {
 width: 30px;
  height: 23px;    
  background-size: cover; 
}
.cardtabs {
  .tabs_content {
  padding: 20px;
}
}
.tabs_content_item.video {
  height: 172px;
}
.card-pr-gal-b {
  height: 300px;
}
.tabs_content_item {
  font-size: 14px;
}
.tabs_content {  
          border-radius: 35px;
}
.serv-arr-up {
  right: 25px;
  bottom: 25px;
}
.ref-w {
  margin-top: 13px;
}
}

@media only screen and (max-width : 375px) {
  .pop-cat-w {
    .slick-next {
      right: 30px;
    }
    .slick-prev {
      left: 30px;
    }
  }
  .top-w {  
    flex-wrap: wrap;
  }
  .top-l,
  .top-r {
    width: 100%;
    text-align: center;
    margin-right: 0;  
    justify-content: center;
  }
  .top-r {
    margin-top: 10px;
  }
  .top-r-w {
    display: flex;  
    justify-content: center;
  }
  .teasers-actions-select {
    width: 170px;
  }
  .cat-teasers-row {
    margin-left: 0;
    margin-right: 0;
  }
  .cat-teasers-col {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width : 360px) {
  .join-txt-2 {
    font-size: 34px;
  }
  .join-txt-w {
    margin-bottom: 18px;
  }
  .join-form-tg-btn {
    width: 44px;
  }
  .join:before, .join:after {
    height: 322px;
  }
  .top-2-r-func + .top-2-r-func {
    margin-left: 12px;
  }
  input[type="text"].top-2-input-text {
    font-size: 12px;
  }
  .filter-cat-w {
    width: 288px;
  }
  .tabs-control li.tabs_control_item a.tabs_control_link {
    font-size: 9px;
  }
  .rep-maint-img-w {
    width: 100%;
    margin-right: 0;
    overflow: hidden;
  }
  .rep-typ-txt-3 {
    font-size: 12px;
  }
  .rep-typ-txt-1 {
    font-size: 16px;
  }
  .rep-typ-img-w {
    height: 220px;
  }
}

@media only screen and (max-width : 359px) {
  .pop-cat-w {
    .slick-next {
      right: 10px;
    }
    .slick-prev {
      left: 10px;
    }
  }  
}

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 320px;
  }
}


@media (min-width: 768px) {
  .toggle-mnu {
    display: none;
  }
  .top-mnu {
    display: flex;
  }
  .hidden-mnu {
    display: none;
  }
}


