@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Abhaya Libre', serif;
$ff3: 'Doppio One', sans-serif;
$ff5: 'Taprom', cursive;
$ff6: 'Sansation', sans-serif;
$sana: 'Fira Sans', sans-serif;


@font-face {
  font-family: 'Sansation';
  src: url('../fonts/SansationRegular.eot');
  src: local('SansationRegular'), local('SansationRegular'),
  url('../fonts/SansationRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SansationRegular.woff') format('woff'),
  url('../fonts/SansationRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "_reset.scss";
@import "_vars.scss";
@import "_nouislider.scss";


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}



body {
  font-family: 'ABeeZee', sans-serif;    
  font-weight: normal;
  font-size: 18px;
  position: relative;
  min-height: 100vh;
  background-color: #131218;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
  position: relative;
}

.main {  
  flex-grow: 1;  
}

.contain {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.lcpadding {
  padding-left: calc((100% - 1060px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}


.cpadding {
  padding-left: calc((100% - 1060px)/2);
  padding-right: calc((100% - 1060px)/2);
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.rcpadding {  
  padding-right: calc((100% - 1060px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}




.header {

}


.top {  
  border-bottom: 1px solid rgb(36, 36, 36);
  padding: 8px 17px;
  display: flex;
  align-items: center;
  height: auto;
}

.top-w {
  display: flex;  
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
}

.top-l {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  position: absolute;
  left: 0;
}

.top-l-txt {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.13);
  margin-right: 15px;
}

.top-l-a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.top-c {
  display: flex;
  align-items: center;
}

.top-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  margin-left: 11px;
  margin-right: 11px;
}

.top-r {
  position: absolute;
  right: 0;  
}

.top-r-w {
  display: flex;
}

.top-r-a {
  background-image: url("../img/call.svg");
  background-repeat: no-repeat;
  background-position: left top;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 25px;
  text-align: right;
}

.top-r-txt {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  margin-left: 15px;
}

.top-2-w {    
  display: flex;  
  justify-content: center;
  align-items: center;  
  padding: 27px 0 0px 0;  
}

.top-2-inn {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;  
  align-items: center;
  margin-bottom: 26px;
}



.top-2-form {
  display: inline-flex;
  justify-content: space-between;
  margin-right: auto;
  max-width: 90px;
  width: 100%;  
}



input[type="text"].top-2-input-text {
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  height: 30px;
  width: 100%;
  &::placeholder {
    color: #FFF;
  }
}

.top-2-logo {
  display: block;
  height: 116px;
  display: flex;  
  justify-content: center;  
}

.top-2-r {
  display: flex;
  margin-left: auto;
}

.top-2-r-func {
  display: inline-flex;  
  background-repeat: no-repeat;
  background-position: center center;
  + .top-2-r-func {
    margin-left: 37px;
  } 
}

.top-2-ul-w {  
  padding-bottom: 20px;
  position: relative;
}

.top-2-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
}


.slick-arrow {
  position: absolute;
  z-index: 12;  
  height: 66px;
  border: none;
  background: none;
  font-size: 0;
  background: url("../img/arr-r.png") $nr center;
  top: calc(50% - 33px);
  width: 42px;
  background-size: 42px;
  &:hover {
    opacity: 1;
  }
  li {
    button {
      padding: 0;
      border: none;
    }
  }
}

.slick-prev {
  left: 130px;  
  opacity: 0.2;
}

.slick-next {
  right: 130px;    
  transform: rotate(180deg);
}





.carous {
  position: relative;
  width: 100%;
}

.carous-it {
  height: 400px;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.carous-cont-w {
  position: absolute;
  width: 100%;
  top: 100px;
}

.carous-w {
  display: flex;
  justify-content: flex-end;
}

.carous-r {
  width: 50%;
}

.carous-r-w {
}

.carous-txt-1 {
  font-size: 36px;
  color: rgb(143, 143, 143);
  margin-bottom: 2px;
}

.carous-txt-2 {
  font-size: 18px;
  color: rgb(143, 143, 143);
  margin-bottom: 23px;
}

.carous-txt-3 {
  font-size: 18px;
  line-height: 1.7;
  color: rgb(143, 143, 143);
  margin-bottom: 21px;
}

.btn {
 &:hover {
   text-decoration: none;
 } 
}
.carous-btn {
  display: inline-flex;
  height: 36px;
  background: rgba(216, 119, 0, 0.74);
  border-radius: 5px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding-left: 46px;
  padding-right: 46px;
  align-items: center;
  justify-content: center;
}



.cat {  
  padding-top: 94px;
}

.cat-w {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.cat-it {
  display: block;  
  width: calc(50% - 10px);  
  position: relative;
  height: 305px;
  margin-bottom: 33px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }  
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 18, 24, 0.66);
  }  
}

.cat-content {
  position: relative;
  display: flex;  
  align-items: center;  
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cat-med {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  height: 151px;
  img {
    max-height: 100%;
    width: auto;
    height: 100%;
    object-fit: unset;
  }
}

.cat-txt {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  width: 100%;  
  justify-content: center;  
  font-weight: 300;
}

.brand {
  background: rgb(204, 116, 8);
  border-radius: 0px;
  padding-top: 195px;
  padding-bottom: 6px;
  margin-top: -182px;
}

.brand-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-it {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.pop {  
  padding-top: 86px;
  padding-bottom: 65px;
}

.pop-w {
}

h2 {
  margin-bottom: 36px;
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 3px;
  position: relative;
  display: flex;
  align-items: center;          
  flex-direction: column;
  font-weight: 400;
  &:after {
    margin-top: 8px;
    content: "";
    display: block;
    height: 2px;
    background: #D87700;
    max-width: 300px;
    width: 80%;    
  }
}



.pop-head-bord {  
}

.pop-cat-row {  
  margin: 0 -10px;  
}

.pop-cat-col {
  padding: 0 10px;
  display: inline-flex !important;
  justify-content: center;
  .pop-cat-it {
    max-width: 220px;
  }
}

.pop-cat-arr-l {
  background-image: url("../img/arr-l.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 74px;
  height: 119px;
}

.pop-cat-w {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .slick-prev {
    left: -70px;
  }
  .slick-next {
    right: -70px;
  }
}

.slick-dots {
  position: absolute;
  bottom: -27px;
  width: 100%;
  display: flex;    
  justify-content: center;
  z-index: 12;
  li {
    font-size: 0;
    background: none;
    padding: 0;
    margin: 0 10px;
    button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
      width: 40px;
      height: 5px;
      background: #3B3A40;
    }
    &.slick-active {
      button {
        background: #C4C4C4;
      }
    }
  }
}

.pop-cat-it {
  width: 100%;
  display: block;
  background: #3B3A40;
  border-radius: 0px 30px 0px 0px;
  &:hover {
    text-decoration: none;
  }
}

.pop-cat-img-w {
  width: 100%;
  height: 284px;
  overflow: hidden;
  border-radius: 30px 30px 67px 0px;
}

.pop-cat-img {  
}

.pop-cat-inf {
  padding: 12px 13px 8px 13px;
}

.pop-cat-inf-w {
}

.pop-cat-inf-txt-w {
  margin-bottom: 24px;
}

.pop-cat-inf-txt-1 {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 2px;
  display: block;
}

.pop-cat-inf-txt-2 {
  font-size: 24px;
  color: #FFFFFF;
  display: block;
}

.pop-cat-inf-pr-w {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pop-pr-l {
  width: 50%;
}

.pop-pr-l-txt-1 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0px;
}

.pop-pr-l-txt-2 {
  font-size: 18px;
  color: #FFFFFF;
}

.pop-pr-r {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

.pop-pr-r-star-w {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.pop-pr-r-star {
  width: 12px;
  height: 15px;
  background-image: url("../img/star.png");
  ; background-position: center center;  
  background-repeat: no-repeat;
  flex: none;
  + .pop-pr-r-star {
    margin-left: 2px;
  }
}

.pop-pr-r-txt {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  margin-top: 2px;
}

.pop-cat-arr-r {
  background-image: url("../img/arr-r.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 74px;
  height: 119px;
}






.servs {    
  padding-bottom: 130px;
  margin-top: 26px;
}



.serv {
}

.pop-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
}

.pop-head-txt {
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 3px;
}

.pop-head-bord {
  border-bottom: 2px solid #D87700;
  width: 300px;
}

.serv-w {  
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.serv-wrap {
  max-width: 938px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}



.serv-it-txts {
  position: relative;
  opacity: 0;
  visibility: hidden;  
  transition: 0.5s;
  display: flex;  
  flex-grow: 1;
  flex-direction: column;
}

.serv-it {
  position: relative;
  width: calc(33.3333% - 13px);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  display: flex;
  padding: 17px 34px 32px 32px;
  flex-direction: column;
  align-items: center;  
  height: 400px;
  &:before {
    content: "";  
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(19, 18, 24, 0.8);
    transition: 0.5s;
  }
  &:hover {
    cursor: pointer;
    &:before {
      height: 100%;
    }
    .serv-it-1-a {
      display: none;
    }
    .serv-it-txts {
      opacity: 1;
      visibility: visible;
    }
  }
}



.serv-it-1-a {
  height: 99px;
  background: rgba(19, 18, 24, 0.8);
  width: 100%;
  font-size: 24px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
}
.serv-it-1 {
  background-image: url("../img/serv-1.png");    
}

.serv-it-2 {  
  background-image: url("../img/serv-2.png");  
}

.serv-it-3 {  
  background-image: url("../img/serv-3.png");  
}

.serv-it-2-txt {
  font-size: 18px;
  line-height: 1.7;
  color: rgb(255, 255, 255);
  height: 100%;
}

.serv-it-2-a {
  font-size: 18px;
  color: rgb(234, 131, 5);
  text-align: center;
  display: block;
}





.serv-arr-up {
  width: 100px;
  height: 100px;
  background: url("../img/arr-up.png") center center no-repeat rgba(234, 131, 5, 0.71);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin-left: 10px;
  flex: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  z-index: 6;
  display: none;
}

.join {  
  padding-top: 43px;
  padding-bottom: 42px;
  position: relative;
  margin-bottom: 141px;
  &:before {
    content: "";
    display: block;
    background: url("../img/join.png") left top no-repeat;
    width: 1152px;
    height: 343px;
    position: absolute;    
    border-radius: 0px 171.5px 171.5px 0px;
    overflow: hidden;    
  }
  &:after {
    background: rgba(216, 119, 0, 0.6);
    border-radius: 0px 171.5px 171.5px 0px;
    content: "";
    display: block;    
    width: 1152px;
    height: 343px;
    position: absolute;    
  }
}

.join:before,
.join:after {
  left: -120px;
  top: 0;
}


.join-contain {
  max-width: 1152px;
}

.join-w {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.join-form-w {
  background: rgb(252, 247, 242);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  border-radius: 30px;
  width: 620px;
  padding: 40px 35px 35px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join-txt-w {
  margin-bottom: 41px;
}

.join-txt-1 {
  font-family: $ff3;
  font-size: 18px;
  text-align: center;
  color: rgb(59, 58, 64);
  margin-bottom: 0px;
}

.join-txt-2 {
  margin-top: -2px;
  font-family: $ff3;
  font-size: 48px;
  text-align: center;
  color: rgb(210, 144, 72);
  margin-bottom: 1px;
}

.join-txt-3 {
  font-family: $ff3;
  font-size: 14px;
  text-align: center;
  color: rgb(191, 185, 177);
}

.join-form-w-2 {
  width: 100%;
}

.join-form-row {
  display: flex;
  margin-bottom: 6px;
  width: 100%;
}

.join-form-input-text {
  width: 452px;
  height: 43px;
  background: rgb(242, 234, 224);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px inset;
  border-radius: 5px;
  
  font-size: 18px;
  color: rgba(59, 58, 64, 0.6);
}

.join-form-tg-btn {
  width: 77px;
  height: 43px;
  background: url("../img/join-tg.png") center no-repeat rgb(210, 144, 72);
  border-radius: 5px;
  margin-left: 11px;
  flex: none;
}

.join-form-w-2-txt {
  font-style: italic;
  font-size: 14px;
  color: rgba(196, 196, 196, 0.6);
  margin-top: 6px;
  text-decoration: underline;
}




.foot {    
  padding-bottom: 34px;  
}

.foot-2 {
  padding-bottom: 0;
  .foot-col-2-phone-a {
    margin-bottom: -247px;
  }
}




.foot-w {
  padding-top: 31px;
  display: flex;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #242424;
  }
  &:after {
   content: "";
   display: block;
   position: absolute;
   top: 0;    
   width: 600px;
   left: -600px;
   height: 2px;
   background-color: #242424; 
 }
}

.foot-no-line {
  .foot-w {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}

.foot-col-1 {
  width: 500px;
  flex: none;
}

.foot-logo {
  display: block;
}

.foot-col-1-txt-2 {
  font-family: $ff3;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(196, 196, 196);
  margin-bottom: 53px;
}

.foot-cont {
  margin-bottom: 34px;
  max-width: 255px;
  width: 100%;
}

.foot-cont-txt-1 {

  font-size: 18px;
  color: rgb(196, 196, 196);
  margin-bottom: 5px;
}

.foot-cont-phone {
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  display: block;
}

.foot-cont-txt-2 {

  font-size: 18px;
  color: rgb(196, 196, 196);
  margin-bottom: 5px;
}

.foot-cont-mail {

  font-size: 18px;
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 18px;
}

.foot-cont-soc-w {
  display: flex;
  align-items: center;
  
}

.foot-cont-soc {
  display: flex;
  width: 21px;
  height: 21px;
  align-items: center;
  justify-content: center;
  + .foot-cont-soc {
    margin-left: 22px;
  }
}

.foot-cont-soc-img {  
}

.foot-pay {
  width: 180px;
  margin-bottom: 167px;
}

.foot-pay-txt {

  font-size: 18px;
  color: rgb(196, 196, 196);
  margin-bottom: 2px;
  width: 100%;
}

.foot-pay-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot-pay-img-w {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.foot-col-2 {
  padding-top: 22px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.foot-col-2-menu-w {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 92px;  
  justify-content: flex-end;
  margin-right: -1px;
  @media (max-width : 1199px) {
    margin-right: 0;
  }
}

.foot-col-2-menu {
  + .foot-col-2-menu {
   margin-left: 50px; 
 }  
}

.foot-col-2-h-menu {
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 13px;
}

.foot-col-2-ul {
  li {
    margin-bottom: 3px;
  }

  a {
    font-size: 18px;
    color: rgb(196, 196, 196);
    display: block;
  }
}

.foot-col-2-phone-a {
  display: block;
  margin-right: 18px;  
}

.mnu-close {
  background: url("../img/close-w.svg") $nr 0 0;
  width: 16px;
  height: 16px;  
  background-size: cover;
}

.cols {
  display: flex;
  margin-top: 32px;  
  padding-left: 27px;  
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cat-teasers-cols {  
  .col-r {
    padding-bottom: 21px;    
  }
}

.col-l {
  width: 232px;
  margin-right: 64px;
  flex: none;
  margin-left: -140px;
}
.col-r {  
  flex-grow: 1;  
}

.cat-teasers-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px;
}
.cat-teasers-col {
  padding: 0 11px;
  width: 33.3333%;    
}

.pop-cat-img-w-2 {
  height: 308px;
  border-radius: 0px 0px 67px 0px;
  overflow: hidden;
  display: block;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.contain-1200 {
  max-width: 1200px;
  width: 100%;
  padding: 0 27px;  
  box-sizing: content-box;
}

.pop-cat-it-2 {
  margin-bottom: 25px;
}








.catalog-top-logo > img {
}



.filter {

}


.filter-w {
  position: relative;
}

.filter-its {
  display: inline-flex;
  align-items: center; 
  &:hover {
    text-decoration: none;
  } 
}

.filter-its-span {
  font-family: $ff6;
  font-size: 14px;
  color: rgb(181, 181, 181);
  margin-right: 6px;
}

.filter-its-b {
}

.filter-cat-w {  
  width: 460px;
  background: rgb(59, 58, 64);
  border-radius: 4px;
  padding: 13px 17px 10px 37px;
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  z-index: 21;
}

.filter-cat-ind {
}

.catfilter-it {
  margin-bottom: 3px;
}

.catfilter-tit {
  font-family: $ff6;
  font-size: 20px;
  color: rgb(207, 206, 206);
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 14px;
    height: 8px;        
    background: url("../img/arrow-guitar.png") $nr center;
    background-size: 14px;
    transform: rotate(180deg);
  }
  &.hide {
    &:after {
      transform: rotate(0deg);
    }
  }
}







.catfilter-cont {  
  display: block;
  width: 100%;
  transition: 0.5s;
  line-height: 1;    
  padding: 12px 0 7px 0;
  &.hide {
    padding: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;    
  }
}

.big-video {
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    display: block;
    background: url("../img/card-video.png") $nr 0 0;
    width: 100px;
    height: 100px;    
    background-size: 93px;
  }
}


.filter-label {
  margin-bottom: 12px;
  display: flex;  
  align-items: center;
  width: 100%;    
  &:first-child {

  }  
  &:last-child {

  }
  input[type="checkbox"] {
    display: none;
    + span {
      width: 30px;
      height: 30px;
      border: 2px solid rgb(207, 206, 206);  
      border-radius: 4px;
      flex: 0 0 auto;              
    }
    &:checked {
      + span {
        background: rgb(216, 119, 0);
        border: 2px solid rgb(207, 206, 206);



      }
    }
  }          
}



.filter-label-span-txt {
  margin-left: 10px;
  font-family: $ff6;
  font-size: 16px;
  color: #CFCECE;
}



.catalog {

}

.catalog-w {
  margin-bottom: 34px;
}

.catalog-top-search {
  margin-top: 20px;
}
.catalog-top-search-w {
  display: flex;
  align-items: center;    
}

.catalog-top-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: none;
  margin-right: 22px;
}

.catalog-form {  
  flex-grow: 1;
  margin-right: 14px;
  display: none;
  &.on {
    display: flex;
  }
}

.bread-w {
  margin-top: 7px;
}

input[type="text"].catalog-search-input-text {
  background: url("../img/search-form.png") left 12px center no-repeat rgb(72, 71, 76);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border: none;
  font-size: 14px;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 37px;
}

.catalog-search-ul {
  display: flex;
  li {    
    display: flex;  
    align-items: center;
    &:after {
      display: block;
      content: "/";
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6);
      margin-left: 5px;
      margin-right: 5px;
    }  
    &:last-child {
      &:after {
        display: none;        
      }
    }
  }

  a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);    
  }
}



.noUi-target {
  background: rgba(196, 196, 196, 0.37);
  height: 2px;
}

.noUi-target::before, .noUi-target::after {
  height: 2px;
  background: rgba(196, 196, 196, 0.37);
  left: -11px;
}

.noUi-target::after {
  left: auto;
  right: -11px;
}


.noUi-connect {
  height: 2px;
  background: rgba(216, 119, 0, 0.74);
}


.noUi-horizontal .noUi-handle {
  background: none;
  border: none;
  &:focus, &:hover, &:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.noUi-handle::after {
 width: 10px;
 height: 10px;
 background: #BC741D; 
 top: 6px;
}

.noUi-horizontal .noUi-tooltip {
  bottom: auto;
  top: -50%;
  font-size: 11px;
  font-family: $ff6;
  color: #C4C4C4;
}

.top-2-r-func-2 {
  + .top-2-r-func-2 {
    margin-left: 13px;
  }
}











.lfilter-it {
  margin-bottom: 14px;
}
.lfilter-tit {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  color: #EA8305;
  text-transform: uppercase;
  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 14px;
    height: 8px;        
    background: url("../img/arrow-guitar.png") $nr center;
    background-size: 14px;
    transform: rotate(0deg);
  }
  &.hide {
    color: #FFFFFF;
    &:after {
      transform: rotate(-90deg);
    }
  }
}




.lfilter-cont {  
  padding: 15px 0 36px 0;
  &.hide {
    padding: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;      
  }
  li {    
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    a {
      font-weight: normal;
      font-size: 14px;
      color: #C4C4C4;
      &:hover {
        text-decoration: none;
        color: #EA8305;
      }
    }
  }
}

.lfilter-caps {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  span {
    display: flex;    
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
  }
}












.cat-teasers-actions {
  display: flex;
  background-color: rgb(19, 18, 24);
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;  
  justify-content: space-between;
}

.teasers-actions-col-1 {
  display: flex;
  align-items: center;  
}

.cat-teasers-actions-caption {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-right: 5px;
}

.teasers-actions-prods {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.13);
}

.teasers-actions-col-2 {  
}

.teasers-actions-label {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    display: none;
    + span {
      flex: 0 0 auto;
      border: 1px solid rgb(161, 160, 163);
      border-radius: 5px;
      width: 24px;
      height: 24px;
      margin-left: 14px;
      display: inline-flex;
      order: 10;
    }
    &:checked {
      + span {
        background-color: #D87700;
      }
    }
  }  
}

select {
  border: none;
  outline: none;
}

option {
  background-color: #000;
  color: #FFF;
}

.teasers-actions-col-3 {
  display: flex;
  align-items: center;  
}

.teasers-actions-select {
  height: 24px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 5px;
  padding-left: 21px;
  padding-right: 21px;
  display: inline-flex;
  margin-left: 6px;
  color: rgba(255, 255, 255, 0.13);
  font-size: 17px;
  align-items: center;
  justify-content: center;
}

.teasers-actions-col-4 {
  display: flex;
  align-items: center;  
}

.teasers-actions-col-5 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;  
}

.teasers-actions-sort-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  .sort-active {
    display: none;
  }
  .sort-nonactive {
    display: inline-flex;
  }
  &.active {
    .sort-active {
      display: inline-flex;
    }
    .sort-nonactive {
      display: none;
    }
  }
}

.pop-cat-cahrs {
  display: none;
  margin-top: 12px;
}

.cat-teasers-row-row {
  margin: 0;
  .cat-teasers-row {    
  }
  .cat-teasers-col {
    padding: 0;
  }
  .pop-cat-cahrs {
    display: block;
  }
  .cat-teasers-col {
    width: 100%;  
  }  
  .pop-cat-it-2 {
    display: flex;
    width: 100%;
    min-height: 340px;
    background: none;
    flex: none;
  }
  .pop-cat-inf {    
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 0px 0px 40px 0px;
    padding-top: 22px;
  }
  .pop-cat-img-w-2 {
    width: 256px;
    border-radius: 0;
    height: 100%;  
    flex: none;
    margin-right: 14px;  
  }
  .pop-pr-l-txt-1 {
    display: none;
  }
  .pop-cat-inf-pr-w {
    display: block;
  }
  .pop-pr-l {
    width: 100%;
  }
  .pop-pr-r {  
    align-items: flex-start;
  }
  .pop-cat-inf-txt-w {
    margin-bottom: 34px;
  }
  .pop-pr-r-txt {
    display: none;
  }
}










.pop-cat-cahrs {
}

.pop-cat-cahrs-row {
  display: flex;
  margin-bottom: 11px;
}

.pop-cat-cahrs-l {
  width: 438px;
  display: flex;
}

.pop-cat-gal-it {
  width: 140px;
  height: 140px;
  display: flex;
  margin-right: 9px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 49, 54, 0.6);
  }  
}

.pop-cat-cahrs-r {
  margin-left: 13px;
}

.add-cart {
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 17px;
  padding-right: 17px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.add-cart-img {
  margin-right: 8px;
}

.add-cart-txt {
  color: rgb(173, 173, 175);
  font-size: 14px;
}

.pop-cat-compare {
  display: block;
  margin-top: 7px;
  font-style: italic;
  font-size: 14px;
  color: rgba(173, 173, 175, 0.6);
  white-space: nowrap;
}

.status-1 {
  font-size: 14px;
  color: rgba(255, 214, 0, 0.6);
}

.status-2 {
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.pagin {
  display: flex;  
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: -4px;
  ul {
    display: flex;  
    align-items: center;
    margin: 0 35px;
    li {
      a {
        color: rgba(255, 255, 255, 0.6);;
        width: 29px;
        display: inline-flex;        
        align-items: center;
        justify-content: center;
        height: 24px;
        border: 2px solid transparent;
        border-radius: 5px;
        font-size: 18px;
        &.active {
          border: 2px solid rgba(234, 131, 5, 0.69);
          color: #fff;
        }
        &:hover {
          border: 2px solid rgba(234, 131, 5, 0.69);
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
.pagin-nav {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  &.active {
    color: #fff;
  }
}
.pagin-prev {
  margin-right: 52px;
}
.pagin-arrow {  
}
.pagin-next {
  margin-left: 52px;
}









.vidblock {
  margin-top: 63px;
  padding-top: 103px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 330px;
    width: 100%;
    height: 1px;
    background-color: #242424;
  }  
}

.vidblock-row-1 {  
  position: relative;
  min-height: 455px;
  display: flex;
  align-items: center;
}



.vidblock-row {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.vidblock-vid {
  width: 568px;
  flex: 0 0 auto;
  position: relative;
  height: 307px;
  z-index: 2;
  &:before {
    z-index: -1;
    width: 1773px;
    height: 455px;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(216, 119, 0, 0.6);
    border-radius: 0px 227.5px 227.5px 0px;
    position: absolute;
    content: "";
    display: block;
  }
}

.vidblock-r {
  flex: 1 1 auto;
  margin-left: 42px;
  position: relative;
}

.vidblock-tit {
  font-size: 34px;
  line-height: 1;
  color: rgb(255, 255, 255);
  margin-bottom: 33px;
}

.vidblock-ul {
  li {
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 81px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 3px);
      left: 0;
      width: 68px;
      height: 6px;
      background-color: #EA8305;
    }  
    &:nth-child(2){
      &:before {
        height: 5px;
      }
    }
    &:nth-child(3){
      &:before {
        height: 4px;
      }
    }
    &:nth-child(4){
      &:before {
        height: 3px;
      }
    }
    &:nth-child(5){
      &:before {
        height: 2px;
      }
    }
    &:nth-child(6){
      &:before {
        height: 1px;
      }
    }
  }
}





.description {
  margin-top: 92px;
  font-size: 14px;
  line-height: 2.1;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 26px;
}

.more-link {
  display: block;
  font-size: 14px;
  color: rgb(234, 131, 5);
  line-height: 2.1;
  margin-top: 5px;
}



.catalog-top-search-w-2 {  
  justify-content: space-between;
  .catalog-top-logo {    
  }
  .top-2-r {
    margin-left:  unset;
  }
}



.vidblock-vid-2 {
 &:before {
  height: 725px;
  border-radius: 0px 370.5px 386.5px 0px; 
} 
}

.likeyou {
  position: relative;
  z-index: 15;
  margin-bottom: 105px;
}















.card-pr-gal-b > img {
}

.card-inf-top-span-1 > img {
}

.card-inf-dw-r-star > img {
  display: block;
}

.card-pr {
  margin-top: 40px;
}


.card-pr-w {
  display: flex;
}

.card-pr-col-1 {
  margin-right: 48px;
  display: flex;
  flex: none;
}

.card-pr-col-1-gal {
  display: flex;
}

.card-slide-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-pr-gal-sl {
  width: 90px;  
  flex: none;
  margin-right: 20px;
  overflow: hidden;
  a {
    display: block;    
    height: 84.77px;
    margin-bottom: 7px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
}





.card-th-3d:before {
  background-image: url("../img/card-video.png");
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 40.99px;
  height: 43.5px;
  display: block;
  content: "";  
}

.card-th-video:before {
  content: "";
  display: block;
  background-image: url("../img/card-360.png");
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  width: 50px;
  height: 40px;
}

.card-pr-gal-b {
  display: block;
  width: 452px;
  height: 452px;
  flex: none;
}

.card-pr-col-2 {   
  flex-grow: 1;
}

.card-pr-col-2-w {  
}

.card-pr-col-2-top {
  margin-bottom: 82px;
}

.card-inf-top-txt-1 {

  font-size: 14px;
  margin-bottom: 9px;
  color: #FFFFFF;
}

.card-inf-top-txt-2 {

  font-size: 36px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.card-inf-top-btn {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #FFD600;
  box-sizing: border-box;
  border-radius: 5px;
}

.card-inf-top-span-1 {
  margin-left: 5px;
  display: inline-block;
  flex: 0 0 auto;
}

.card-inf-top-span-2 {

  font-size: 14px;
  color: rgb(255, 214, 0);
  display: block;
  flex: 1 1 auto;
  text-align: center;
  background-image: url("../img/track.png");
  background-repeat: repeat-x;
  background-position: right center;
  margin-left: 7px;
  margin-right: 10px;
}

.card-inf-top-txt-3 {
  margin-top: 13px;
  
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.4;
  margin-bottom: 4px;
}

.card-inf-top-txt-3-a {

  font-size: 14px;
  color: rgba(255, 214, 0, 0.6);
  line-height: 1.4;
}

.card-inf-top-txt-4 {

  font-size: 14px;
  color: rgba(255, 214, 0, 0.6);
}

.card-pr-col-2-dw-w {
}

.card-pr-col-2-dw {
  display: flex;
}

.card-inf-dw-l {
  width: 50%;
  margin-right: 29px;
}

.card-inf-dw-l-txt-1 {

  font-size: 36px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.card-inf-dw-l-txt-2 {

  font-size: 14px;
  color: rgba(255, 214, 0, 0.6);
  margin-bottom: 5px;
}

.card-inf-dw-l-btn {
  display: inline-flex;
  height: 40px;
  background: rgba(255, 214, 0, 0.6);
  border-radius: 5px; 
  font-size: 18px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  padding-left: 31px;
  padding-right: 31px;
}

.card-inf-dw-r {
  width: 50%;
}

.card-inf-dw-r-ul {
  margin-bottom: 15px;
  display: flex;  
  li {
    a {
      display: inline-block;    
    }
    + li {  
      margin-left: 2px;  
    } 
  }


}



.card-inf-dw-r-soc-w {
  margin-bottom: 11px;
  display: flex;
  a {
    display: inline-block;  
    margin-right: 2px;
  }
}



.card-inf-dw-r-btn-2 {
  display: inline-flex;
  height: 40px;
  background: rgba(196, 196, 196, 0.13);
  border-radius: 5px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.card-pr-col-2-arr-w {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.card-pr-col-2-arr-l {
  display: inline-flex;
  background-image: url("../img/larr-card-l.png");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 14px;
  color: rgb(161, 160, 163);
  padding-left: 25px;
  align-items: center;
}

.card-pr-col-2-arr-r {
  background-image: url("../img/arr-card-r.png");
  background-repeat: no-repeat;
  background-position: right center;  
  font-size: 14px;
  color: rgb(161, 160, 163);
  padding-right: 25px;
}

.cardtabs {
  margin-bottom: -104px;
  position: relative;
  z-index: 4;
}

.tabs-control {
  margin-top: 78px;  
  position: relative;
  z-index: 2;
  margin-left: 45px;
  li.tabs_control_item {  
    margin-right: 0;
    a.tabs_control_link {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      height: 37px;
      padding: 0 24px;
      display: inline-flex;  
      align-items: center;
      background-color: #131218;
      position: relative;
      z-index: 2;
      border-bottom: none;
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      a {
        color: #FFD600;
        border: none;
        border: 1px solid #FFFFFF;
        border-radius: 2px 2px 0px 0px;
        border-bottom: none;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #131218;
          position: absolute;
          bottom: -1px;
          left: 0;
          z-index: 3;
        } 
      }      

    }  
  }
}


.tabs_content {
  margin-top: 0;
  border: 1px solid #FFFFFF;
  position: relative;
  z-index: 1;  
  border-radius: 50px;
  padding: 28px 41px;
  background-color: #131218;
}

.tabs_content_item {            
  &.video {
    height: 448px;
  }
}

.vidblock-2:before {
  display: none;
}

.likeyou-col {
  .pop-cat-img-w {  

  }  
  .pop-cat-it {  
    border-radius: 30px 30px 0px 0px;
  }
}


.bread-4 {
  margin-top: 25px;
}









.rep {
  background: rgb(19, 18, 24);  
  padding-bottom: 20px;
  margin-top: 37px;
}

.contain {
}

.rep-w {
}

.rep-maint {
  display: flex;
  margin-bottom: 73px;
  position: relative;
  z-index: 4;
}

.rep-maint-img-w {
  width: 452px;
  height: 452px;
  margin-right: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.rep-maint-inf-w {
  width: 50%;
}

.rep-arr-w-2 {
  width: 155px;
  margin-bottom: 12px;
}

.rep-arr-w {
  display: flex;
  justify-content: space-between;
}



.rep-maint-inf {
  margin-bottom: 12px;
}

.rep-maint-inf-h {

  font-size: 36px;
  line-height: 1;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  max-width: 250px;
}

.rep-maint-inf-txt-w {
  li {

    font-size: 14px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
  }
}



.rep-maint-inf-price {

  font-size: 24px;
  color: rgb(234, 131, 5);
  margin-bottom: 5px;
}

.rep-maint-inf-btn {
  display: inline-flex;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 5px;
  
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: center;
  padding-left: 26px;
  padding-right: 26px;
  background: #131218;
}

.rep-txt-w {
  margin-bottom: 41px;
  position: relative;
  z-index: 2;
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 450px;
    top: 50%;
    transform: translate(0, -50%);    
    width: 2773px;
    height: 725px;
    z-index: 0;
    background: rgba(216, 119, 0, 0.6);
    border-radius: 0px 370.5px 386.5px 0px;
  }  
}

.rep-p-w {
  max-width: 750px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.rep-p {

  font-size: 18px;
  line-height: 1.7;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.rep-txt-a {
  position: relative;
  z-index: 2;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.chat-w {
  display: flex;
  justify-content: flex-end;
}

.chat {
  display: inline-flex;
  height: 55px;
  background: url("img/chat.png") left 19px center no-repeat rgb(13, 37, 255);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 6px 10px 2px inset;
  border-radius: 30px;
  padding-left: 54px;
  padding-right: 23px;
  align-items: center;
  justify-content: center;
  
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.rep-typs-w {
  position: relative;
  z-index: 2;
}
.rep-typ-img-w {
  border-radius: 0px 0px 67px 0px;  
  overflow: hidden;
}


.rep-typs {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rep-typ {
  width: calc(25% - 15px);
  margin-bottom: 22px;
  cursor: pointer;  
  background: rgb(59, 58, 64);
  &:hover {
    box-shadow: 0px 4px 20px rgba(234, 131, 5, 0.6);
  }
}

.rep-typ-img-w {
  img {
    object-fit: cover;
    width: 100%;
    height: 10%;
  }
}

.rep-typ-img {

}

.rep-typ-txt-w {  
  padding: 20px 25px 12px 13px;
  height: 93px;
  display: flex;  
  justify-content: flex-end;
  flex-direction: column;
}

.rep-typ-shell {
}

.rep-typ-txt-1 {

  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.rep-typ-txt-2 {

  font-size: 18px;
  color: rgb(255, 255, 255);
}

.rep-typ-txt-3 {

  font-size: 14px;
  color: rgb(255, 255, 255);
}

.rep-typ-act {



}

.ref-w {
  margin-top: 43px;
  p {

    font-size: 18px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.13);
    margin-bottom: 5px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.6);
  backdrop-filter: blur(10px);
  z-index: 20;
  display: none;
}


.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 18, 24, 0.8);
  z-index: 20;
  display: none;
}











.servmnu {
  background: rgb(19, 18, 24);
  padding-bottom: 130px;
  padding-top: 36px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 21;
  padding-left: 107px;
  padding-right: 58px;
  display: none;
}

.contain {
}

.servmnu-w {
  color: rgb(255, 255, 255);
}

.serv-top-row {
  align-items: center;
  display: flex;
}

.serv-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 38px;
  flex: 0 0 auto;
}

.serv-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.serv-dw {
  display: flex;
}

.serv-col-1 {
  width: 280px;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 30px;
}

.w-rowserv-col-1-int {
  display: flex;
}

.serv-col-1-int-l {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 38px;
  flex: 0 0 auto;
}

.serv-col-1-int-r {
  flex: 1 1 auto;
}

.serv-col-1-int-h {

  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}

.serv-col-1-int-ul {
  li {
    margin-bottom: 9px;
    a {

      font-size: 14px;
      color: rgb(255, 255, 255);
      &:hover {
        text-decoration: none;
      }
    }
    &.par {
      a {
        background: url("../img/servmnu-arr.png") $nr right center;
        padding-right: 31px;
      }
    }
  }

}



.serv-col-2 {
  width: 50%;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 185px;
}

.serv-col-2-sel {
  margin-bottom: 79px;
  p {
    font-size: 14px;
    line-height: 1.8;
    max-width: 260px;
  }
}



.serv-col-2-way {
}

.serv-col-2-way-ul {
  li {
    font-size: 14px;
    margin-bottom: 10px;
  }
}


.service-row {
  width: 100%;
  max-width: 940px;
  margin: 0px auto;
  display: flex;            
  align-items: stretch;
  margin-top: 42px;
  margin-bottom: 105px;
  position: relative;
  z-index: 20;
}

.service-l {
  width: 50%;
  padding-right: 42px;
  border-right: 1px solid #212026;
  padding-top: 54px;
}

.service-tit {
  font-size: 36px;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.service-bl {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.6);
  background: rgb(19, 18, 24);
  box-shadow: rgba(255, 255, 255, 0.13) -5px 5px 20px;
  border-radius: 5px;
  padding: 9px 16px 18px 18px;
  position: relative;
  &:before {
    content: "";
    display: block;
    background: rgb(234, 131, 5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 5px 0px 0px 5px;
    line-height: 1.8;
    width: 6px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}



.service-r {
  width: 50%;
  padding-left: 40px;
}

.service-it {

  + .service-it {
    margin-top: 60px;
  }
}

.service-it-tit {
  font-size: 18px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.service-it-txt {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
  max-width: 356px;
}

.likeyou-2 {
  .pop-w {
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 3773px;
      height: 725px;
      background: rgba(216, 119, 0, 0.6);
      border-radius: 0px 370.5px 386.5px 0px;
      position: absolute;
      right: 531px;
      bottom: 49px;
      z-index: 0;
    }
  }
}

.show-991 {
  display: none;
}









.we {
  padding-top: 36px;
  padding-bottom: 61px;  
  
}



.we-w {
  max-width: 934px;
  width: 100%;
  margin: auto;
  margin-top: -1px;
}

.we-it-w {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.we-it {
  display: block;
  width: calc(33.3333% - 11px);
  margin-bottom: 33px;
  &:hover {
    text-decoration: none;
  }
}

.we-img-ab-act {
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  display: none;  
}

.we-img-w {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  height: 400px;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 18, 24, 0.6);    
    opacity: 0;
    visibility: hidden;             
    transition: 0.5s;
  }  
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
    .we-img-ab-act {
      display: block;
          }
  }
}

.we-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.we-txt {
  margin-top: 14px;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}



.we-img-ab-act-txt-1 {
  font-size: 18px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.we-img-ab-act-txt-2 {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}



.wehere-w {
  max-width: 802px;
  width: 100%;
  margin-left: auto;
    margin-right: auto;
  display: flex;    
  position: relative;
  &:before {
    z-index: -1;
    right: 79px;
    top: calc(50% - 50px);
    transform: translate(0, -50%);
    background: rgba(216, 119, 0, 0.6);
    position: absolute;
    content: "";
    display: block;
    width: 2167px;
    height: 725px;
    border-radius: 0px 370.5px 386.5px 0px;
}
  @media (max-width : 1199px) {
  align-items: center;
  }
}


  
  


.wehere-l {
  width: 49%;
  padding-right: 48px;
  padding-left: 23px;
  flex: none;
  padding-top: 82px;
  @media (max-width : 1199px) {
    padding-top: 0;
  }
}

.wehere-r {  
  flex-grow: 1;
  padding-left: 48px;
  border-left: 1px solid rgb(255, 255, 255);  
  .service-it {
    + .service-it {
      margin-top: 40px;
    }
  }
}

.service-tit {
}

.wehere-txt {
  font-size: 14px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
  margin-top: 12px;
}

.wehere-soc-w {
  display: flex;
  margin-top: 20px;
.foot-cont-soc {
  + .foot-cont-soc {
    margin-left: 14px;
  }
}  
}





.foot-cont-soc-img {
}



.service-it {
}

.service-it-tit {
}

.service-it-txt {
}

.where {
  padding: 28px 0 40px 0;
}
.wehere {
  color: rgb(255, 255, 255);
  padding-bottom: 47px;
  margin: 0px 0 36px 0;
  
}

.where-row {
  margin-top: 49px;
  display: flex;
  margin-left: -25px;
  margin-right: -25px;
  
}
.where-w {
  padding: 41px 37px 45px 37px;
  box-shadow: -5px 5px 20px rgba(255, 255, 255, 0.13);
border-radius: 5px;
max-width: 1042px;
width: 100%;
margin-left: auto;
margin-right: auto;
}

.where-tit {
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
}

.where-col-1 {
  padding-left: 25px;
  padding-right: 25px;
}

.where-it {  
  + .where-it {
    margin-top: 46px;
  }
}

.where-col-2 {
  padding-left: 25px;
  padding-right: 25px;
}

.where-col-3 {
  padding-left: 25px;
  padding-right: 25px;
}

.weelook {
  margin-top: 10px;
}

.weelook-w {
  display: flex;
  margin-left: -12.5px;
  margin-right: -12.5px;
}

.weelook-col {
  padding-left: 12.5px;
  padding-right: 12.5px;
  width: 33.3333%;
}

.weelook-item {
  width: 100%;
  height: 400px;
  display: block;
}

.weelook-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wemap {
  height: 322px;
  overflow: hidden;
}

.ymaps-2-1-79-inner-panes {
  filter: invert(100%);
  -ms-filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
}

.bread-6 {
  margin-top: 25px;
}

@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";